<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/furnitures", class: "navbar-brand" do %>
      <div>
        <%= image_tag "logo2.jpg" %>
        <span>Homie</span>
      </div>
    <% end %>
  </div>
</div>
