<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/furnitures", class: "navbar-brand" do %>
      <div>
        <%= image_tag "logo2.jpg" %>
        <span>Homie</span>
      </div>
    <% end %>
    <div class="search-form ">
      <i class="fa-solid fa-magnifying-glass"></i>
      <%= form_with url: furnitures_path, method: :get do %>
        <%= text_field_tag :q,
            params[:q],
            class: "form-control",
            placeholder: "Type a keyword"
        %>
      <% end %>
    </div>
  </div>
</div>
