<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <!-- Logo -->
    <%= link_to "/furnitures", class: "navbar-brand d-flex align-items-center" do %>
      <%= image_tag "logo2.jpg", class: "me-2", height: 30 %>
      <span>Homie</span>
    <% end %>
    <div class="search-form ">
      <i class="fa-solid fa-magnifying-glass"></i>
      <%= form_with url: furnitures_path, method: :get do %>
        <%= text_field_tag :q,
            params[:q],
            class: "form-control",
            placeholder: "Type a keyword"
        %>
      <% end %>
    </div>
  </div>
</div>
