.category-list {

overflow-x: scroll;
display: flex;
gap: 24px;

a {
    display: inline-block;
    text-decoration: none; 
    color: inherit;
   
}

.btn {
    padding: 8px 12px;
    height: fit-content;
    text-wrap: nowrap;
  
   /* Adjust values as needed */
}

}