.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.search-form {
  margin-left: auto;
  position: relative;
}

.fa-solid:not(.fa-plus) {
  position: absolute;
  top: 50%;
  left: 8px;
  font-size: 16px;
  color: rgb(152, 155, 155);
  transform: translateY(-7px);
}




.search-form input {
  text-align: center;
  border-radius: 16px;
  background-color: #f9f9f9;
  width: 100%

}
