.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.search-form {

  display: flex;
  flex-grow: 1;
}


.search-form input {
  text-align: center;
  border-radius: 16px;
  background-color: #f9f9f9;
  width: 912px

}

