.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.search-form {
  width: 1200px;
  
  
}

.search-form input {
  text-align: center;
  border-radius: 16px;
  background-color: #f9f9f9;
  width: 100%;
  
}