<div class="mb-3">
  <button type="button"
    class="btn btn-success"
    data-bs-toggle="modal" data-bs-target="#taskModal1">Add Review
  </button>
  <!-- Modal -->
  <div class="modal fade" id="taskModal1" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="taskModalLabel">Review</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="m-5">
            <%= render "reviews/form", review: @review, furniture: @furniture %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
