<h1 class="text-center my-4">My Rentals</h1>
<nav class=" navbar justify-content-center">
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active text-black hover-bg" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">All</button>
    <button class="nav-link text-black hover-bg" id="nav-pending-tab" data-bs-toggle="tab" data-bs-target="#nav-pending" type="button" role="tab" aria-controls="nav-pending" aria-selected="false">Pending</button>
    <button class="nav-link text-black hover-bg" id="nav-approved-tab" data-bs-toggle="tab" data-bs-target="#nav-approved" type="button" role="tab" aria-controls="nav-approved" aria-selected="false">Approved</button>
    <button class="nav-link text-black hover-bg" id="nav-rejected-tab" data-bs-toggle="tab" data-bs-target="#nav-rejected" type="button" role="tab" aria-controls="nav-rejected" aria-selected="false">Rejected</button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0"> <%= render 'rentals/tab', rentals: @rentals_as_owner %>
  </div>
  <div class="tab-pane fade" id="nav-pending" role="tabpanel" aria-labelledby="nav-pending-tab" tabindex="0"><%= render 'rentals/tab', rentals: @rentals_as_owner.select { |r| r.pending? } %>
  </div>
  <div class="tab-pane fade" id="nav-approved" role="tabpanel" aria-labelledby="nav-approved-tab" tabindex="0"><%= render 'rentals/tab', rentals: @rentals_as_owner.select { |r| r.approved? } %></div>
  <div class="tab-pane fade" id="nav-rejected" role="tabpanel" aria-labelledby="nav-rejected-tab" tabindex="0"><%= render 'rentals/tab', rentals: @rentals_as_owner.select { |r| r.rejected? } %></div>
</div>
</div>
