<h1>Furnitures#index</h1>
<ul>
  <% @furnitures.each do |furniture| %>
    <li>
      <p><%= furniture.name %></p>
      <p><%= furniture.furniture_type %></p>
      <p><%= furniture.description %></p>
      <p><%= furniture.price %></p>
    </li>
  <% end %>
</ul>